<%= render(PageHeaderWithButtonComponent.new(
  pretitle: "Overview",
  title: "Setup Bio",
  btn_link: "/@#{current_user.username}",
  btn_text: "Preview Bio"))
%>

<div class="row">
  <div class="col-12">
    <%= render BioTableComponent.new(@links, @pagy) %>
  </div>
</div>