<%= render NotificationComponent.new() %>

<%= render(PageHeaderWithButtonComponent.new(
  pretitle: "Overview",
  title: "Setup Bio",
  btn_link: "/@#{current_user.username}",
  btn_text: "Preview Bio"))
%>

<div class="row">
  <div class="col-12 col-md-6">
    <%= render BioTableComponent.new(@links, @pagy, current_user.public_profile.links) %>
  </div>
  <div class="col-12 col-md-6">
    <%= render SocialLinksFormComponent.new(@current_user.public_profile) %>
  </div>
</div>