<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-xl-4 my-5">
      <div class="card border">
        <!-- Profile Info -->
        <div class="card-body text-center">
          <div class="avatar avatar-xl card-avatar">
            <%= image_tag @user.account.image,
            class: "avatar-img rounded-circle border border-4 border-card" %>
          </div>
          <h2 class="card-title text-center"><%= @user.account.full_name %></h2>
          <p class="small text-center text-muted mb-3">
            <%= @user.account.bio %>
          </p>
        </div>
        <!-- End of Profile -->
        <!-- Links -->
        <div class="card-footer card-footer-boxed">
          <div class="row flex-column">
            <% @user.public_profile.links.each do |link| %>
              <div class="col-12 mb-3">
                <%= link_to link.name, link.redirect_url,
                class: "btn btn-outline-primary btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- End of Links -->
      </div>
    </div>
  </div>
</div>