<div class="container">
  <div class="mt-3 mt-lg-4">
    <div class="row">
      <div class="col-lg-3 mt-2 mt-lg-0">
        <%= render(StatsCardComponent.new(title: "Visits", count: @stats.total_visit_count)) %>
      </div>
      <div class="col-lg-3 mt-2 mt-lg-0">
        <%= render(StatsCardComponent.new(title: "Unique Visits", count: @stats.total_unique_visit_count)) %>
      </div>
      <div class="col-lg-3 mt-2 mt-lg-0">
        <%= render(StatsCardComponent.new(title: "Links", count: current_user.links.count)) %>
      </div>
      <div class="col-lg-3 mt-2 mt-lg-0">
        <%= render(StatsCardComponent.new(title: "Domains", count: current_user.custom_domains.count)) %>
      </div>
    </div>
  </div>
</div>
