<div class="table-responsive mb-0">
  <table class="table table-sm table-nowrap table-hover card-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link.name %></td>
          <td><%= link.destination_url %></td>
          <td><%= link.user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>