<div class="table-responsive mb-0">
  <div class="card-header">
    <span class="card-header-title">Latest links</span>
  </div>
  <table class="table table-sm table-nowrap table-hover card-table">
    <thead>
      <tr>
        <th>URL</th>
        <th>Short link</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link.destination_url.truncate(50) %></td>
          <td><%= link.redirect_url %></td>
          <td><%= link.user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
