<div class="card">
  <div class="card-header">
    <small class="card-header-title text-primary">POST</small>
    <small class="card-header-title">/api/v1/links</small>
  </div>
  <div class="card-body">
    <pre><code class="bash">
    curl -L -X POST '<%= ENV["DEFAULT_URL_HOST"] %>/api/v1/links' \
    -H 'Authorization: Bearer befad6fb-9963-4a38' \
    -H 'Content-Type: application/json' \
    -d '{
        "link": {
            "destination_url": "https://github.com/faker-ruby/game_of_thrones.md",
            "custom_domain_id": 2,
            "name": "game of thrones",
            "slug": "gotfakes2"
        }
    }'
    </pre></code>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h3 class="card-header-title">Parameters</h3>
      </li>
      <li class="list-group-item">
        <div class="d-flex w-100">
          <small>destination_url</small>
          <span class="ml-2 badge badge-soft-warning">required</span>
        </div>
        <p class="text-muted small mb-0 mt-1">
          This is where your link should go after the user clicks your btfy link.
        </p>
      </li>
      <li class="list-group-item">
        <div class="d-flex w-100">
          <small>name</small>
          <span class="ml-2 badge badge-light">optional</span>
        </div>
        <p class="text-muted small mb-0 mt-1">
          The name of your link inside the system. This will also be show as the button
          text in your bio. If you leave this blank, it will follow the value of
          <code>destination_url</code>.
        </p>
      </li>
      <li class="list-group-item">
        <div class="d-flex w-100">
          <small>slug</small>
          <span class="ml-2 badge badge-light">optional</span>
        </div>
        <p class="text-muted small mb-0 mt-1">
          This is the word at the end of the link e.g. btfy.io/ab81s to btfy.io/yourownword.
          if you leave this blank, the system will generate it for you.
        </p>
      </li>
      <li class="list-group-item border-bottom-0">
        <div class="d-flex w-100">
          <small>custom_domain_id</small>
          <span class="ml-2 badge badge-light">optional</span>
        </div>
        <p class="text-muted small mb-0 mt-1">
          If you want to associate to a custom domain, you can supply the your
          <code>custom_domain_id</code>. Take note that it will give you an error if you don't
          own the custom domain in your account. If you leave this blank, it will be associated to
          <code>btfy.io</code>.
        </p>
      </li>
      <li class="list-group-item">
        <h3 class="card-header-title">Response</h3>
      </li>
      <li class="list-group-item pb-0">
        <pre><code class="bash">
    {
      "link": {
        "id": 95,
        "destination_url": "https://github.com/faker-ruby/game_of_thrones.md",
        "name": "game of thrones",
        "slug": "gotfakes",
        "created_at": "2020-09-03T17:32:13.027Z",
        "updated_at": "2020-09-03T17:32:13.027Z",
        "custom_domain_id": 2,
        "user_id": 1,
        "redirect_url": "http://gotlinks.co/gotfakes"
      }
    }
        </pre></code>
      </li>
    </ul>
  </div>
</div>