<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-uppercase text-muted mb-2">Current plan</h6>
        <span class="h2 mb-0"><%= plan_rate %></span>
      </div>
      <div class="col-auto">
        <%= link_to "Upgrade", billing_path, class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>