<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">Export Links</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-4">
        <%= link_to "Export as CSV", new_export_links_path(format: :csv), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>