<div class="bg-dark">
  <div class="container py-5">
    <div class="text-white display-2 pt-5">Features</div>

    <div class="row pt-5">
      <div class="col-12 col-md-6">
        <p class="lead mb-2 font-weight-bolder text-white">
          <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
          </svg>
          <span class="ml-2">Everything in one place</span>
        </p>
        <p class="lead mb-0 text-white">
          Your dashboard shows you all the most useful information about your links
          like top links, top referrers, top country, and more.
        </p>
      </div>
      <div class="col-12 col-md-6 mt-5 mt-md-0">
        <p class="lead mb-2 font-weight-bolder text-white">
          <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
          </svg>
          <span class="ml-2">Real-time analytics</span>
        </p>
        <p class="lead mb-0 text-white">
          Understand what content is resonating with your audience with
          comprehensive metrics on every link like clicks, country, and
          top referring channels.
        </p>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-12 col-md-6">
        <p class="lead mb-2 font-weight-bolder text-white">
          <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
          </svg>
          <span class="ml-2">Insight without compromise</span>
        </p>
        <p class="lead mb-0 text-white">
          We believe that url shorteners don’t have to compromise a visitor’s
          personal information to be super useful, so we collect nothing personal
          from them. We’re fully GDPR and Cookie Directive compliant.
        </p>
      </div>
      <div class="col-12 col-md-6 mt-5 mt-md-0">
        <p class="lead mb-2 font-weight-bolder text-white">
          <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
          <span class="ml-2">Your data is yours, not ours</span>
        </p>
        <p class="lead mb-0 text-white">
          Your traffic data is not used for any other purposes.
          You fully own and control 100% of your data.
          If you ever want to export it, you simply click a button and export it.
        </p>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-12 col-md-6">
        <p class="lead mb-2 font-weight-bolder text-white">
          <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
          </svg>
          <span class="ml-2">Unlimited links</span>
        </p>
        <p class="lead mb-0 text-white">
          We don't limit on how many short links you create, how many times it is
          visited or how many times you change the destination url.
        </p>
      </div>
      <div class="col-12 col-md-6 mt-5 mt-md-0">
        <p class="lead mb-2 font-weight-bolder text-white">
          <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
          </svg>
          <span class="ml-2">Unlimited custom domains</span>
        </p>
        <p class="lead mb-0 text-white">
          Create your branded links without limits. Add your own custom domain so
          you can swap "btfy.io" with your brand. People click links they trust.
        </p>
      </div>
    </div>

    <div class="row py-5">
      <div class="col-12 col-md-6">
        <p class="lead mb-2 font-weight-bolder text-white">
          <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
          </svg>
          <span class="ml-2">Developer API</span>
        </p>
        <p class="lead mb-0 text-white">
          Securely shorten and manage thousands of links at scale for
          maximum efficiency. Whether you want to generate links for your
          website, print, or different user accounts, you can do it with Btfy.
        </p>
      </div>
      <div class="col-12 col-md-6 mt-5 mt-md-0">
        <p class="lead mb-2 font-weight-bolder text-white">
          <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
          </svg>
          <span class="ml-2">Free SSL</span>
        </p>
        <p class="lead mb-0 text-white">
          Every link you create using Btfy is encrypted with HTTPS to
          maximize protection against eavesdropping or tampering by third
          parties, keeping your content safe from the bad guys.
        </p>
      </div>
    </div>
  </div>
</div>