<div class="card">
  <table class="table table-sm table-nowrap card-table">
    <thead>
      <tr>
        <th>Views</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= show_chart %></td>
      </tr>
    </tbody>
  </table>
</div>
