<div class="py-5">
  <section class="py-5">
    <div class="container">
      <!-- Introduction -->
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center mb-5">
          <h1 class="display-1 font-weight-bold">
            Fast. Simple. <span class="text-primary">Private.</span>
          </h1>
          <p class="lead text-black-50 mb-5">
            Btfy is a simple, easy to use, privacy-focused link management
            platform that helps you grow your brand with custom links.
            We don’t use cookies and is fully compliant with GDPR, CCPA and PECR. 
          </p>
          <%= link_to "/register", class: "btn btn-lg btn-primary" do %>
            Get started for free
            <span class="icon ml-1">
              <svg fill="none" height="1rem" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
              </svg>
            </span>
          <% end %>
        </div>
        <!-- End of Introduction -->
        <!-- App Screenshot -->
        <div class="py-5">
          <div class="row">
            <div class="col-12">
              <div class="bg-light shadow-lg">
                <img class="img-fluid" src="https://btfy-app.s3-ap-southeast-1.amazonaws.com/dashboard.png">
              </div>
            </div>
          </div>
        </div>
        <!-- End of App Screenshot -->
      </div>
    </div>
  </section>
</div>
