<div class="col-12 col-md-4">
  <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">
    <div class="card-body">
      <!-- Text -->
      <h6 class="text-uppercase text-center text-primary my-4">
        Free Plan
      </h6>
      <!-- Price -->
      <div class="row no-gutters align-items-center justify-content-center">
        <div class="col-auto">
          <div class="h2 mb-0">$</div>
        </div>
        <div class="col-auto">
          <div class="display-2 mb-0">0</div>
        </div>
      </div>
      <div class="h6 text-uppercase text-center text-primary mb-5">
        / month
      </div>
      <!-- Features -->
      <div class="mb-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex align-items-center justify-content-between px-0">
            <small>Links</small><small>5</small>
          </li>
          <li class="list-group-item d-flex align-items-center justify-content-between px-0">
            <small>Custom Slug</small><small>-</small>
          </li>
          <li class="list-group-item d-flex align-items-center justify-content-between px-0">
            <small>Custom Domains</small><small>-</small>
          </li>
          <li class="list-group-item d-flex align-items-center justify-content-between px-0">
            <small>Link Analytics</small><small>Basic</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>