<div class="row">
  <div class="col-12 col-md-4 text-muted">
    &#169; Btfy <%= Time.now.year %>. All rights reserved |
    <%= link_to "Terms", terms_path %> |
    <%= link_to "Privacy", privacy_path %>
  </div>
  <div class="col-12 col-md-8 text-right text-muted">
    Created with &#x2665; by <%= link_to "AJ Villalobos", "https://twitter.com/iamajvillalobos" %>.
  </div>
</div>