<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom py-0">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand mr-5" do %>
      <div class="d-flex align-items-center">
        <img height="64" src="https://btfy-app.s3-ap-southeast-1.amazonaws.com/press/Logo+-+Alternate+Layout+-+Mariner.svg"/>
      </div>
    <% end %>
    <div class="collapse navbar-collapse ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Log in", "/login", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>