<section class="py-5 text-muted text-center">
  <p class="mb-0 small">
    &#169; Btfy <%= Time.now.year %>. All rights reserved.<br>
    Designed with &#x2665; by <%= link_to "AJ", "https://twitter.com/iamajvillalobos" %>.
    Proudly hosted with <%= link_to "Hatchbox", "https://btfy.io/hatchboxaj" %> and
    <%= link_to "AWS", "https://btfy.io/awsconsole" %>.
  </p>
</section>