<div class="py-5">
  <section class="py-5">
    <div class="container">
      <!-- Introduction -->
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center mb-5">
          <h1 class="display-1 font-weight-bold">
            Fast. Simple. <span class="text-primary">Private.</span>
          </h1>
          <p class="lead text-black mb-5">
            Btfy is a simple, GDPR compliant custom URL shortener tool and
            branded link management. We don't store any cookie or any
            personal data of your users. 
          </p>
          <%= link_to "/register", class: "btn btn-lg btn-primary" do %>
            Get started for free
          <% end %>
        </div>
        <!-- End of Introduction -->
        <!-- App Screenshot -->
        <div class="pt-5">
          <div class="row">
            <div class="col-12">
              <div class="bg-light shadow-lg">
                <img class="img-fluid" src="https://btfy-app.s3-ap-southeast-1.amazonaws.com/dashboard.png">
              </div>
            </div>
          </div>
        </div>
        <!-- End of App Screenshot -->
      </div>
    </div>
  </section>
</div>
