<div class="header">
  <div class="header-body">
    <div class="row">
      <div class="col">
      	<% if @pretitle %>
        	<h6 class="header-pretitle"><%= @pretitle %></h6>
        <% end %>
        <h1 class="header-title"><%= @title.capitalize %></h1>
      </div>
    </div>
  </div>
</div>