<div class="header">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="header-pretitle"><%= @pretitle %></h6>
        <h1 class="header-title"><%= @title.titleize %></h1>
      </div>
      <div class="col-auto">
        <a href="<%= @btn_link %>" class="btn btn-primary"><%= @btn_text.titleize %></a>
      </div>
    </div>
  </div>
</div>