<div class="header">
  <div class="header-body">
    <div class="row">
      <div class="col">
        <h6 class="header-pretitle">overview</h6>
        <h1 class="header-title">Settings</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="nav nav-tabs nav-overflow header-tabs">
          <li class="nav-item">
            <%= active_link_to "Billing", billing_path, class: "nav-link", active: :inclusive %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>