<div class="card">
  <div class="card-body">
  	<div class="row">
  		<div class="col">
  			<h6 class="text-uppercase text-muted mb-2"><%= @title %></h6>
  			<span class="h2 mb-0"><%= @count %></span>
  		</div>
  	</div>
  </div>
</div>
