<div class="bg-white rounded-md border border-gray-100">
  <div class="px-4 py-5 sm:p-6">
    <div class="uppercase text-green-500 text-xs tracking-wider">
      <%= @title %>
    </div>
    <div class="text-gray-500 text-2xl"><%= @count %></div>
  </div>
</div>
