<div class="card">
  <div class="table-responsive mb-0">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>Links</th>
          <th class="text-right">Views</th>
        </tr>
      </thead>
      <tbody>
        <% @links.each do |link| %>
          <tr>
            <td><%= link_to link.name.truncate(50), link %></td>
            <td class="text-right">
              <%= LinkStatsViewerAction.execute(link: link).visit_count %>
            </td>
          </tr>
        <% end %>
        <% if links_limit_diff > 0 %>
          <% links_limit_diff.times do %>
            <tr class="d-none d-md-table-row">
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
