<div class="card">
  <div class="table-responsive mb-0">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>Top Links</th>
          <th class="text-right">Visits</th>
          <th class="text-right">Uniques</th>
        </tr>
      </thead>
      <tbody>
        <% @links.each do |link| %>
          <tr>
            <td>
              <%= link_to link[:link].redirect_url, link[:link] %>
            </td>
            <td class="text-right"><%= link[:visits] %>
              <td class="text-right"><%= link[:unique_visits] %>
              </tr>
            <% end %>
            <% if links_limit_diff > 0 %>
              <% links_limit_diff.times do %>
                <tr class="d-none d-md-table-row">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
