<div class="card border">
  <div class="card-body bg-light">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-uppercase text-muted mb-2">Current plan</h6>
        <span class="h2 mb-0">
          <%= @user.subscribed? ? @user.user_plan.monthly_value : "Free" %>
        </span>
      </div>
      <% if @show_button %>
        <div class="col-auto">
          <%= link_to "Upgrade", subscriptions_path, class: "btn btn-sm btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer px-0">
    <div class="list-group list-group-flush my-n3 small">
      <div class="list-group-item px-4 d-flex">
        <span>Links</span>
        <span class="ml-auto">0</span>
      </div>
      <div class="list-group-item px-4 d-flex">
        <span class="mr-2">Custom Slug</span>
        <%= render SlugInfoTooltipComponent.new %>
        <span class="ml-auto">0</span>
      </div>
      <div class="list-group-item px-4 d-flex">
        <span>Custom Domains</span>
        <span class="ml-auto">0</span>
      </div>
      <div class="list-group-item px-4 d-flex">
        <span>Link Analytics</span>
        <span class="ml-auto">Basic</span>
      </div>
    </div>
  </div>
</div>