---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps//domains/ajv.im
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Cascade:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"id":"not_found","message":"The requested API endpoint was not found.
        Are you using the right HTTP verb (i.e. `GET` vs. `POST`), and did you specify
        your intended version with the `Accept` header?"}'
  recorded_at: Sun, 08 Nov 2020 04:53:29 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps//domains/%23%3CCustomDomain:0x00007fbf3c055f20%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Cascade:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"id":"not_found","message":"The requested API endpoint was not found.
        Are you using the right HTTP verb (i.e. `GET` vs. `POST`), and did you specify
        your intended version with the `Accept` header?"}'
  recorded_at: Sun, 08 Nov 2020 04:59:40 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/ajvillalobos-btfy/domains/%23%3CCustomDomain:0x00007f9ecf1519c0%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 32929d9c-7a41-4397-915e-36050ab8d42a
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4499'
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"domain_name","id":"not_found","message":"Couldn''t find
        that domain name."}'
  recorded_at: Sun, 08 Nov 2020 05:06:49 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/ajvillalobos-btfy/domains/ajvillalobos.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 32929d9c-7a41-4397-915e-36050ab8d42a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"23e8981f7fdc8a26231e1f9cf6384bfd"'
      Last-Modified:
      - Sun, 08 Nov 2020 04:55:56 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4499'
    body:
      encoding: ASCII-8BIT
      string: '{"acm_status":"failing","acm_status_reason":"Unable to resolve DNS
        for ajvillalobos.com","app":{"id":"c968171f-5b71-4e97-9ef2-47956d854704","name":"ajvillalobos-btfy"},"cname":"crystalline-passionflower-mw0yout50c54q265acjvz5ms.herokudns.com","created_at":"2020-11-08T04:55:56Z","hostname":"ajvillalobos.com","id":"89e94494-967b-4c03-bb60-609c72b612f3","kind":"custom","status":"succeeded","updated_at":"2020-11-08T05:09:17Z","sni_endpoint":{"id":"646427f6-4183-4a19-be6a-c50ae9d53bcb","name":"othnielia-10412"}}'
  recorded_at: Sun, 08 Nov 2020 05:09:54 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/ajvillalobos-btfy/domains/ajvillalobos.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 32929d9c-7a41-4397-915e-36050ab8d42a
      If-None-Match:
      - '"23e8981f7fdc8a26231e1f9cf6384bfd"'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4499'
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"domain_name","id":"not_found","message":"Couldn''t find
        that domain name."}'
  recorded_at: Sun, 08 Nov 2020 05:09:58 GMT
recorded_with: VCR 6.0.0
