<div class="container">
  <div class="header">
    <div class="header-body">
      <h6 class="header-pretitle">Admin</h6>
      <div class="d-flex align-items-center">
        <h1 class="header-title">Plans</h1>
        <span class="badge badge-pill badge-soft-secondary ml-2"><%= @pagy.count %></span>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <%= render AdminUserPlansTableComponent.new(@plans) %>
      </div>
    </div>
  </div>
</div>