<div class="container">
  <div class="header">
    <div class="header-body">
      <h6 class="header-pretitle">
        Overview
      </h6>
      <div class="d-flex align-items-center">
        <h1 class="header-title">Link Visits</h1>
        <span class="badge badge-pill badge-soft-secondary ml-2"><%= @link_visits.count %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <%= render AdminLinkVisitsTableComponent.new(@link_visits, @pagy) %>
      </div>
    </div>
  </div>
</div>
