<div class="container">
  <div class="header">
    <div class="header-body">
      <h6 class="header-pretitle">
        Dashboard
      </h6>
      <div class="d-flex align-items-center">
        <h1 class="header-title">Links</h1>
        <span class="badge badge-pill badge-soft-secondary ml-2"><%= Link.count %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <%= render AdminLinksTableComponent.new(@links) %>
      </div>
    </div>
  </div>
</div>
