<div class="d-flex flex-column vh-100">
  <div class="container flex-grow-1">
    <div class="row justify-content-center py-5">
      <div class="col-12">
        <%= link_to root_path do %>
          <%= render LandingPageLogoComponent.new %>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center py-5">
      <div class="col-12 col-md-8">
        <h1 class="mt-4 mb-2 font-weight-bold">Terms and Conditions</h1>

        <h2 class="mt-4 mb-2 font-weight-bold">You</h2>
        <p>Be nice.</p>

        <h2 class="mt-4 mb-2 font-weight-bold">Us</h2>
        <p>
          Btfy will be as accurate as possible with metrics, based on the data
          that we gather from your visitors.
        </p>
        <p>
          Btfy charges for access on monthly, yearly and lifetime plans.
          Btfy does not currently offer refunds, either partial or in full.
        </p>
        <p>
          Btfy's service may change without prior notice. Changes could affect pricing, pricing policies, features and access restrictions.
        </p>
      </div>
    </div>
  </div>

  <div class="bg-light">
    <div class="container py-5">
      <%= render MarketingFooterComponent.new %>
    </div>
  </div>
</div>