<div class="row justify-content-start">
  <div class="col-12">
    <%= render(PageHeaderComponent.new(pretitle: "edit", title: @custom_domain.name)) %>
    <%= render 'form', custom_domain: @custom_domain %>
  </div>
</div>
