<%= render NotificationComponent.new() %>

<%= render(PageHeaderWithButtonComponent.new(
  pretitle: "overview",
  title: "Domains",
  btn_link: new_custom_domain_path,
  btn_text: "create domain"))
%>

<div class="row">
  <div class="col-12">
    <%= render CustomDomainsTableComponent.new(@domains) %>
  </div>
</div>
