<div class="row justify-content-start">
  <div class="col-12 col-lg-10 col-xl-8">
    <%= render(PageHeaderComponent.new(pretitle: "create", title: "new domain")) %>
    <%= render 'form', custom_domain: @custom_domain %>
  </div>
</div>
