<ul class="list list-group list-group-flush list my-n3">
  <% @links.each do |link| %>
    <li class="list-group-item py-3">
      <div class="row">
        <div class="col">
          <h4 class="mb-1 name"><%= link.name %></h4>
          <p class="card-text small text-muted mb-1">
            <%= link.redirect_url %>
          </p>
        </div>
        <div class="col-auto d-flex align-items-center">
          <%= link_to "View", link_path(link), class: "btn btn-sm btn-white" %>
          <%= link_to "Edit", edit_link_path(link), class: "ml-2 btn btn-sm btn-white" %>
      </div>
    </li>
  <% end %>
</ul>
