<%= render SettingsHeaderComponent.new %>

<div class="row">
  <div class="col-12 col-md-6">
    <%= render ApiKeysTableComponent.new(@api_keys) %>
  </div>
    <div class="col-12 col-md-6">
    <%= render ApiKeysSidebarComponent.new %>
  </div>
</div>