<%= render NotificationComponent.new() %>
<%= render PageHeaderComponent.new(pretitle: "overview", title: "API") %>

<div class="row">
  <div class="col-12">
    <%= render ApiKeysTableComponent.new(@api_keys) %>
  </div>
</div>
<div class="row">
  <div class="col-12">
  <%= render ApiKeysSidebarComponent.new %>
</div>
