<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-xl-4 my-5">
      <div class="text-center">
        <h6 class="text-uppercase text-muted mb-4">
          404 error
        </h6>
        <h1 class="display-4 mb-3">
          There’s no page here 😭
        </h1>
        <p class="text-muted mb-4">
          It seems you haven't configured the <code>redirect_url</code> for <code><%= domain.name %></code>.
          Please set it so you won't see this page.
        </p>
        <%= link_to "Fix this", "https://btfy.io/custom_domains", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>