<%= render PageHeaderComponent.new(
  pretitle: "Upgrade",
  title: "Choose your plan"
)%>

<div class="row">
  <div class="col-12">
    <%= render AvailableUserPlansComponent.new(plans: @plans) %>
  </div>
</div>