<%= render SettingsPageHeaderComponent.new %>
<%= render NotificationComponent.new() %>

<div class="row mt-3">
  <div class="col-12 col-md-6">
    <%= render UserCurrentPlanCardComponent.new(user: current_user) %>
  </div>
</div>

