<div data-controller="subscription">
	<h2>Basic Plan</h2>

	<ul>
		<li>Unlimited clicks</li>
		<li>100 links created per month</li>
		<li>1 custom domain</li>
		<li>City level data</li>
		<li>Device Type tracking</li>
	</ul>

	<a href="#!" class="paddle_button" data-product="610658">Subscribe</a>
</div>