<div class="container">
  <div class="col-12">
    <%= render NotificationComponent.new() %>
    <%= render(PageHeaderWithButtonComponent.new(
      pretitle: "billing",
      title: "Upgrade",
      btn_link: new_billing_redeem_path,
      btn_text: "Redeem Coupon"))
    %>
    <div class="row">
      <% @plans.each do |plan| %>
        <div class="col-12 col-md-4">
          <%= render AvailablePlanComponent.new(user: current_user, plan: plan) %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-12">
        <%= render PlanFeaturesComponent.new %>
      </div>
    </div>
  </div>
</div>