<div class="container" data-controller="waiting"
  data-waiting-redirect-url="<%= settings_path %>">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-xl-4 my-5">
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <h6 class="text-uppercase text-muted my-4">
          please wait
        </h6>
        <h1 class="display-5 mb-3">
          You will be redirected in 5 seconds...
        </h1>
      </div>
    </div>
  </div>
</div>