@import "./theme.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Pacifico&display=swap');

body {
	font-family: 'Inter var', sans-serif;
}

// Remove underline in links by default
a {
	text-decoration: none;
}

.logo {
  font-family: 'Pacifico', cursive;
}