@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import './theme.css';

.logo {
  font-family: 'Pacifico', cursive;
}

#HW_badge_cont {
  position: absolute !important;
  top: 1px;
  right: -1px;
}

.field_with_errors { display: inline };